body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}


h1{
    color: #61ffcd;
}
.cocktail {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  button {
    padding: 10px 20px;
    color: #fff;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e65b50;
  }